# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Pods/
ios/build/
**/ios/build/
**/android/flutter_assets/
**/android/app/debug
**/android/app/profile
**/android/app/release
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Exceptions to the build rule
!/build/web/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Windows
windows/flutter/ephemeral/

# Supabase
.env
.env.local

# Node.js (for development testing and scripts)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.vercel
iphoneos/
.cursorignore
bluelight.mobileprovision
certificate_base64.txt
dev_cert.p12
development.cer
dist_cert.p12
distribution.cer
ios-build-release-2.zip
profile_base64.txt
# Build artifacts
*.ipa
